@font-face {
    font-family: logo;
    src: url(../Assets/fonts/NatureBeautyPersonalUse-9Y2DK.ttf);
}

.nav{
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
    box-shadow: 0 1px 3px -2px black;
    /* position: relative; */
}

.nav-logo{
    height: 80%;
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.nav-logo img{
    height: 70%;
}

.nav-logo p{
    font-size: 1rem;
    color: #171717;
    font-family: logo;
    font-weight: 200;
    /* line-height: 2rem; */
    margin-top: 3vh;
}

.nav-menu{
    text-decoration: none;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 6vh;
    color: #626262;
}

.nav-menu li{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 2px;
    background-color: black;
    animation: line;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    margin-top: 1vh;
}

.nav-menu .cross{
    display: none;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.nav-login-cart button{
    border: 1px solid #515151;
    background: transparent;
    border-radius: 3px;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #f2f2f2;
}

.nav-login-cart .cart{
    font-size: 4vh;
    transition: 0.2s ease-in;
}

.nav-login-cart .cart:hover{
    color: rgb(207, 68, 52);
}

.nav-login-cart .count{
    height: 2vh;
    width: 2vh;
    font-size: 0.7rem;
    margin-left: -2vw;
    margin-top: -3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}

@keyframes line{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.menuicon{
    display: none;
}

@media (max-width: 1250px){
    

    .nav-menu{
        height: 100vh;
        width: 80vw;
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 100;
        right: 0;
        top: 0;
        background-color: white;
        padding: 10vh;
        transition: 1s;
        padding-top: 15vh;
        /* position: relative; */
    }

    .nav-menu hr{
        width: 100%;
        height: 2px;
        background-color: black;
        animation-play-state: running;
        margin: 0;
        margin-top: 1vh;
    }

    .menuicon{
        display: block;
    }
    
    .nav-menu .cross{
        display: block;
        position: absolute;
        top: 5vh;
        right: 5vh;
    }

    .nav-login-cart button{
        display: none;
    }

    .menuicon{
        font-size: 4vh;
    }

    .cart{
        margin-left: 20vh;
    }

    .nav-login-cart .count{
        font-size: 1.7vh;
    }


    
}

