.popular{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    /* gap: 5vh; */
}

.popular h1{
    text-align: center;
}

.popular_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10vh;
}

@media (max-width: 1250px) {
    .popular_items{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}